html, body 
  font-family: 'Roboto', sans-serif
  font-size: 14px
  min-width: 300px
  margin: 0px
  line-height: 1.2
  min-height: 100vh

*
  font-family: 'Roboto', sans-serif


#root
  min-height: 100vh

.App 
  min-height: 100vh

  //display: grid 
  //grid-template-columns: 0 1fr
  


.App__toolbar-container 
  position: fixed
  top: 0
  width: 100%
  z-index: 10000
  background: white
  border-bottom: 0.5px solid grey
  padding-left: 20px


.App__grid--side 
  display: block
  position: fixed
  top: 0
  left: 0
  height: 100%
  overflow-x: hidden
  z-index: 100000
  transition: 0.5s



.App__grid--main 
  display: block
  transition: margin-left .5s
  min-height: 100vh
  min-width: 800px


.Page
  min-height: 100vh


#Toolbar__portal 



.Page__toolbar


.Heading__3
  font-size: 20px
  color: #474D55
  margin-left: 40px

.App__messages-container
  position: fixed
  bottom: 20px // will this cause it to grow upwards? 
  right: 20px
  width: 300px

.App__flash-message
  padding: 10px 20px
  margin: 10px 0


/* reduce padding/margin on paragraphs */

/* Tablet styles */
@media only screen and (min-width: 600px) 
  html, body 
    font-size: 16px

/* Desktop styles */
@media only screen and (min-width: 1000px) 
  html, body 
    font-size: 16px

  .App 
    //display: grid 
    //grid-template-columns: 300px 1fr // allways make room for the side menue on this wide of a screen.
  
  .SN
    right: 0px

  
  
@media only screen and (min-width: 1700px) 
  html, body 
    font-size: 16px

  



