html, body 
  font-family: 'Roboto', sans-serif
  font-size: 14px
  min-width: 300px
  margin: 0px
  line-height: 1.2
  min-height: 100%

*
  font-family: 'Roboto', sans-serif


.root

.App 
  //display: grid 
  //grid-template-columns: 0 1fr
  


.App__toolbar-container 
  position: fixed
  width: calc(100% - 300px) // This will not animate...
  top: 0
  right: 0 
  background-color: white 
  /*background-color: #212329*/
  z-index: 100000
  border-bottom: 0.5px solid grey


.App__grid--side 
  display: block
  position: fixed
  top: 0
  left: 0
  width: 300px // overwritten allways...
  height: 100%
  overflow-x: hidden
  margin: 0
  z-index: 100000
  transition: 0.5s

  // float: left
  // position: fixed
  //grid-column-start: 1
  //grid-column-end: 2 
  
  // display: relative
  // right: -300px


.App__grid--main 
  display: block
  margin: 0
  //margin-left: 300px
  transition: margin-left .5s

  // grid-column-start: 2
  // grid-column-end: 3




#Toolbar__portal 



.Page__toolbar


.Heading__3
  font-size: 20px
  color: #474D55
  margin-left: 40px

.App__messages-container
  position: fixed
  bottom: 20px // will this cause it to grow upwards? 
  right: 20px
  width: 300px
  // max-height: 500px
  // overflow-y: scroll

.App__flash-message
  padding: 10px 20px
  margin: 10px 0


/* Tablet styles */
@media only screen and (min-width: 600px) 
  html, body 
    font-size: 16px

/* Desktop styles */
@media only screen and (min-width: 1000px) 
  html, body 
    font-size: 16px

  .App 
    //display: grid 
    //grid-template-columns: 300px 1fr // allways make room for the side menue on this wide of a screen.
  
  .SN
    right: 0px

  
  
@media only screen and (min-width: 1700px) 
  html, body 
    font-size: 16px

  



