.CSSM__container
  position: fixed
  top: 0
  right: 0
  height: 100%
  background: #212329

.CSSM__item-info
  padding: 0
  margin: 5px 0
  font-size: 12px

.CSSM__scope-select
  width: 100px

.CSSM__item-container-left


.CSSM__item-container-right


.CSSM__button-edit

.CSSM__button-delete