//dark grey:                #212329        
//light gray:               #282A31
//even lighter grey:        #474D55
                            #535862
//letters and icons grey:   #8B8F9E
//black                     #1b1e24
//blue                      #3B89D6
//red                       #EE605A
//green                     #29A498
//white                     #EFF3F8

::-webkit-scrollbar
  background-color: #212329
  width: 6px
::-webkit-scrollbar-thumb
  background-color: #474D55
  border-radius: 2px
  width: 5px

.SN
  background: #212329
  color: #8B8F9E
  ul
    list-style: none
    margin: 0
    padding: 0

.SN__close-button
  position: absolute
  right: 10px
  top: 10px
  border: none
  border-radius: 0px 5px 5px 0
  padding: 2px 2px 0 0 
  margin: 0
  background: #282A31
  color: #8B8F9E


.SN__show-button
  position: fixed
  z-index: 1000
  left: 0px
  top: 0px
  border: none
  border-radius: 0 0 5px 0
  padding: 2px
  margin: 0
  background: #282A31
  color: #8B8F9E



.SN-Scrollable
  overflow-y: scroll
  
.SN-UserInfo
  padding: 20px 24px
  border-bottom: 1px solid #474D55

.SN-UserInfo__image
  display: block
  margin: 0 auto 10px
  border-radius: 50%
  width: 60px
  height: 60px

.SN-UserInfo__container
  display: block
  text-align: center

  .SN-UserInfo__username
    font-size: 19px
    line-height: 28px
    color: #EFF3F8

  .SN-UserInfo__status
    line-height: 17px
    font-size: 13px 


.SN__back-arrow:focus, .SN__back-arrow:hover, .SN__back-arrow:active
  color: #EFF3F8


.SN__menu-title
  font-size: 13px
  padding: 15px 31px 0 27px
  margin: 0
  margin-bottom: 10px
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 0.9px
  color: #535862
  .material-icons
    font-size: 12px
    cursor: pointer

a.SN__item
  display: block
  position: relative
  margin: 0
  padding: 11.5px 10px 11.5px 10px
  text-decoration: none
  font-size: 14px
  cursor: pointer
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.1s linear 0s
  color: #8B8F9E
  >.material-icons
    font-size: 20px
    margin-right: 10px
    position: relative
    top: 5px
  >.fas
    font-size: 20px
    margin-right: 10px
    position: relative
    top: 2px
  span
    margin-right: 5px
  &:hover
    color: #EFF3F8

a.SN__item--green
  color: #1A936F
  &:hover
    color: #06D6A0

.SN-Navigation__title
  position: relative
  bottom: 4px
  line-height: 20px
  
.SN-SubMenuContainer
  overflow: hidden
  max-height: 0px
  -webkit-transition: all 0.5s ease-out
.SN-SubMenuContainer--show
  display: block!important
  max-height: 100%!important
.SN__sub-menu
  background-color: #282A31
  list-style: none
  margin: 0
  padding: 8px 0 10px 0!important //8px 0 10px 0
  a
    display: block
    margin: 0
    padding: 5px 0
    padding-left: 60px!important
    color: #e1eaf1
    text-decoration: none
    font-size: 13px
    font-weight: 300
  a:active, a:hover, a:focus
    background: #212329
.SN__item--open


a.SN__item--active
  color: #fff


.SN__edit-button
  display: inline-block

.SN__container
.SN-Folder__item
  position: relative
  padding: 5px 31px
  font-size: 13px
  color: #ffffff
  display: block
  cursor: pointer
.SN__widget
  margin-bottom: 9px
  padding: 0 31px
  animation-duration: 0.3s!important
  .material-icons
    cursor: pointer
.SN__widget-title
  color: #ffffff
  font-size: 13px
.SN__widget-info
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: 95%
  color: #8b91a0
  font-size: 13px
  margin: 0!important
.SN-Footer__widget
  position: fixed
  bottom: 0px
  left: 0px
  background-color: #282A31
  width: 250px
  height: 52px
  z-index: 100


.SN-pull-right
  float: right
.SN-pull-left
  float: left

.SN__back-arrow
  font-size: 35px
  margin-top: 10px

.SN__back-arrow:hover
  cursor: pointer 

.SN__input-container
  padding: 5px 10px

.SN__input
  display: inline-block
  background: none
  border: none
  border-bottom: 1px solid #8B8F9E
  width: 120px
  padding: 4px
  color: #8B8F9E

.SN__input:focus
  outline: none

.SN__button
  background: none
  border: none
  position: relative
  top: 7px
  padding: 2px 0px
  opacity: 0.6
  .material-icons
    margin: 0
    pointer-events: none

.SN__add-button
  color: green
  
.SN__edit-button
  color: blue

.SN__delete-button
  color: red

.SN__button:hover
  opacity: 1



.SN__color-button
  position: relative
  top: 3px
  margin: 0 10px
  border: none
  width: 1.5em
  height: 1.5em 
  background: #6f3
  cursor: pointer
  border: 0.5px solid grey

.Page-color-pallet
  position: absolute
  top: 400px
  left: 320px
  background: grey
  z-index: 10000


#SN__account-info
  padding-bottom: 20px
  border-top: 1px solid #474D55


.SN__input-textarea
  min-width: 210px
  max-width: 210px
  min-height: 150px
  background: #EFF3F8
  &:focus
    outline: none

.SN__button-normal // DUPLICATED
  background: green
  border: none
  padding: 2px 8px
  border-radius: 5px
  margin: 0 5px
  &:hover
    cursor: pointer
    background: lightgreen


.SN__button--create

.CP__container
  padding: 10px
  box-sizing: border-box

.CP__pallet
  display: flex
  flex-direction: row
  flex-wrap: wrap
  border: 1px solid #8B8F9E
  margin: 2px 0
  border-radius: 5px
  padding: 5px

.CP__color
  position: relative
  width: 35px
  height: 35px
  margin-right: 3px
  margin-bottom: 3px
  border-radius: 5px
  border: 1px solid #8B8F9E
  &:hover
    cursor: pointer


.FU__color-button--delete
  color: white
  font-size: 20px
  position: absolute
  top: 2px
  right: 2px
  &:hover
    color: red
    cursor: pointer



  
/* Tablet styles */
@media only screen and (min-width: 600px) 
  html, body 
    

/* Desktop styles */
@media only screen and (min-width: 1000px) // 1200 originally
  html, body 
    
  .SN
    left: 0px

  
  
@media only screen and (min-width: 1700px) 
  html, body 
    

  


