//dark grey:                #212329        
//light gray:               #282A31
//even lighter grey:        #474D55
                            #535862
//letters and icons grey:   #8B8F9E
//black                     #1b1e24
//blue                      #3B89D6
//red                       #EE605A
//green                     #29A498
//white                     #EFF3F8

::-webkit-scrollbar
  background-color: #212329
  width: 6px
::-webkit-scrollbar-thumb
  background-color: #474D55
  border-radius: 2px
  width: 5px

.SN
  font-family: "Roboto"
  display: inline-block
  float: left
  position: fixed
  height: 100%
  width: 300px
  background: #212329
  color: #8B8F9E
  //box-sizing: border-box
  z-index: 100000
  ul
    list-style: none
    margin: 0
    padding: 0

.SN-Scrollable
  overflow-y: scroll
  
.SN-UserInfo
  margin: 20px 24px
  margin-bottom: 0px

.SN-UserInfo__image
  position: relative
  display: block
  margin: 0 auto 10px
  border-radius: 50%
  width: 60px
  height: 60px

.SN-UserInfo__container
  display: block
  text-align: center

  .SN-UserInfo__username
    font-size: 19px
    line-height: 28px
    color: #EFF3F8

  .SN-UserInfo__status
    line-height: 17px
    font-size: 13px 


.SN__menu-title
  font-size: 13px
  padding: 25px 31px 0 27px
  margin: 0
  margin-bottom: 10px
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 0.9px
  color: #535862
  .material-icons
    font-size: 12px
    cursor: pointer

a.SN__item
  display: block
  position: relative
  margin: 0
  padding: 11.5px 10px 11.5px 10px
  text-decoration: none
  font-size: 14px
  cursor: pointer
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.1s linear 0s
  color: #8B8F9E
  >.material-icons
    font-size: 20px
    margin-right: 10px
    position: relative
    top: 5px
  span
    margin-right: 5px

.SN__item:focus, .SN__item:hover, .SN__item:active
  color: #EFF3F8

.SN-Navigation__title
  position: relative
  bottom: 4px
  line-height: 20px
  
.SN-SubMenuContainer
  overflow: hidden
  max-height: 0px
  -webkit-transition: all 0.5s ease-out
.SN-SubMenuContainer--show
  display: block!important
  max-height: 100%!important
.SN__sub-menu
  background-color: #282A31
  list-style: none
  margin: 0
  padding: 8px 0 10px 0!important //8px 0 10px 0
  a
    display: block
    margin: 0
    padding: 5px 0
    padding-left: 60px!important
    color: #e1eaf1
    text-decoration: none
    font-size: 13px
    font-weight: 300
  a:active, a:hover, a:focus
    background: #212329
.SN__item--open


a.SN__item--active
  color: #fff


.SN__edit-button
  display: inline-block

.SN__container
.SN-Folder__item
  position: relative
  padding: 5px 31px
  font-size: 13px
  color: #ffffff
  display: block
  cursor: pointer
.SN__widget
  margin-bottom: 9px
  padding: 0 31px
  animation-duration: 0.3s!important
  .material-icons
    cursor: pointer
.SN__widget-title
  color: #ffffff
  font-size: 13px
.SN__widget-info
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: 95%
  color: #8b91a0
  font-size: 13px
  margin: 0!important
.SN-Footer__widget
  position: fixed
  bottom: 0px
  left: 0px
  background-color: #282A31
  width: 250px
  height: 52px
  z-index: 100


.SN-pull-right
  float: right
.SN-pull-left
  float: left

.SN__back-arrow
  font-size: 35px

.SN__back-arrow:hover
  cursor: pointer 

.SN__input
  display: inline-block
  background: none
  border: none
  border-bottom: 1px solid #8B8F9E
  width: 120px
  padding: 4px
  color: #8B8F9E

.SN__input:focus
  outline: none

.SN__button
  background: none
  border: none
  position: relative
  top: 7px
  padding: 2px 0px
  opacity: 0.6
  .material-icons
    margin: 0
    pointer-events: none

.SN__add-button
  color: green
  
.SN__edit-button
  color: blue

.SN__delete-button
  color: red

.SN__button:hover
  opacity: 1